*{ margin: 0; padding: 0; box-sizing: border-box; }
body{}
.container{  margin: 0 auto;}
li{ list-style: none;}
header{ background-color: #303030; height: 102px;width: 100%;}



.banner{ width: 100%; min-height: 796px;  background-repeat: no-repeat; background-size: cover; background-position: center;position: relative;}
 header .container1{ display: flex; justify-content: space-between;}
.logo{
     align-items: left;
    margin-left:80px;
    margin-top: 15px;
    padding: 3px;
}
.navigation ul{ display: flex; column-gap:49px;list-style:none;font-family: 'Oswald';font-size: 25px;font-style: regular;
    padding: 5px;margin-top: 30px;align-items: right;margin-right: 55px;
}
.navigation ul li a{ color: #fff; text-decoration: none;}
.navigation ul li a:hover{ color: #91c33e;}

.title{margin-top: 270px;font-size: 100px;color: #fff;font-family: 'Oswald';margin-left: 83px;}

.section2{min-height: 974px;width: 100%;background-color: #e8631c;position: relative;text-align: center;padding: 2px;align-content: center;content: "";
    }

.heading2{color: #fff;font-family: 'Oswald';font-style: bold;font-size: 75px;position: relative;margin-top: 40px;font-style: Bold;padding: 5px;align-content: center;}
.p1{color: #fff;font-size: 30px; font-family: 'Montserrat';position: relative;margin-top: 40px;padding: 4px;}

.col1{display: flex;margin-top: 40px;column-gap: 60px;width: 100%;}
 .card1{height: 493px;width: 372px;background-color: #303030;position: relative;text-align: center;}
 .card2{height: 493px;width: 372px;background-color: #303030;position: relative;text-align: center;}
.card3{height: 493px;width: 372px;background-color: #303030;position: relative;}
.colimage1{height: 324px;width: 372px;}
.colimage2{height: 324px;width: 372px;}
.colimage{height: 324px;width: 372px;}
.card1 h2{position: relative;margin-top: 32px;color: #fff;font-family: 'Oswald';}
.card1 p{position: relative;color: #fff; font-family: 'Montserrat';font-size: 22px;margin-top: 15px;}
.card2 h2{position: relative;margin-top: 32px;color: #fff;font-family: 'Oswald';}
.card2 p{position: relative;color: #fff; font-family: 'Montserrat';font-size: 22px;margin-top: 15px;}
.card3 h2{position: relative;margin-top: 32px;color: #fff;font-family: 'Oswald';}
.card3 p{position: relative;color: #fff; font-family: 'Montserrat';font-size: 22px;margin-top: 15px;}






